body{
	margin:0;
}
.hex{
	overflow: hidden;
	width: 100%;
	height: 300px;
	background: #FFDDDD77;
}

#group{
	transform: scale(25%);
	
}



.hexback{
	fill: #222222;
	stroke:#000;

	stroke-width:15px;
	transition: 0.5s;
	
}



.hexinner{
	fill: black;
	stroke:#000;
	stroke-width:1px;
}


.hexhighlight{
	fill:#33333388;
	stroke: #000;
	
	opacity: 0.0;
	stroke-width:0px;
	transition: 5.0s ease-in-out;
	transition: 3.0s ease-in;
}
.hexhighlight:hover{
	opacity: 0.9;
	transition: 0.1s linear;
}
