body{
	margin:0;
	width:100%;
	height: auto;
	background: transparent;

	--stripe_color: #DDDDDD;
	background-image: 
		linear-gradient(var(--stripe_color) 0 2px, transparent 0px),
		linear-gradient(90deg,var(--stripe_color) 0 2px, transparent 0px),
		linear-gradient(var(--stripe_color) 0 1px, transparent 0px),
		linear-gradient(90deg,var(--stripe_color) 0 1px, transparent 0px);
	background-size:50px 50px, 50px 50px,
					10px 10px, 10px 10px;
}

#example_1{
	
	background-color: #ffCCCC55;
	border: 1px solid black;
}