#clipped2{
    position:absolute;
    display: block;
    transform:translate(50px,-400px)


}
#clipped{
    position:absolute;
    display: block;
  
}
#path{
    transform: scale(3.0) translate(25px, -10px);
}



